<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ApiPrefix" value="http://localhost:5000/api/" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=MSI; Database=DueKpiDB; Integrated Security=True; TrustServerCertificate=True; Max Pool Size=500;" />
  </connectionStrings>

</configuration>